* {
  box-sizing: border-box;
}

body {
  background: #001122;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.carousel {
  margin: 2em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.carousel__slide {
  position: relative;
  width: 100%;
  margin-right: -100%;
  opacity: 0;
  transform: scale(1.05);
  transition: 500ms opacity, 500ms transform;
}

.carousel__slide--active {
  opacity: 1;
  transform: scale(1);
}

.carousel__content {
  position: absolute;
  padding: 1em;
  width: 50%;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  background: rgba(0,0,0,.7);
  border-radius: .5em;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.4);
}

.carousel__slide:nth-child(odd) .carousel__content {
  left: auto;
  right: 1em;
}

.carousel__media {
  display: flex;
  width: 100%;
  max-height: 400px;
}

.carousel__media img {
  width: 100%;
  object-fit: cover;
}

.carousel__controls {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
